node_modules
.next
.env
.env.local
.env.*.local
.DS_Store
*.log
.vercel
node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
